# some useful links for panda & mathematics
- [pandas basic](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html)
- [python statistics basic](https://docs.python.org/3/library/statistics.html)

In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.719735 -0.402301 -0.672168  1.356710
2013-01-02  1.242735 -0.803194 -0.288255  0.473113
2013-01-03 -1.801087  0.710168 -0.347627 -1.254520
2013-01-04 -1.676552 -1.316540 -0.419821 -0.128019
2013-01-05  0.387617 -0.476952 -0.481032 -0.730599
2013-01-06 -0.929831  2.453882  0.389589  1.126503

In [8]:
df2 = pd.DataFrame({'A': 1.,
                 'B': pd.Timestamp('20130102'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                  'D': np.array([3] * 4, dtype='int32'),
                   'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
from statistics import mean
mean([-1.0, 2.5, 3.25, 5.75])

2.625